 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Jia! Welcome to my gallery! I am about to graduate from the University of Copenhagen by the end of this month! I studied at XIDIAN university when I was an undergraduate student. </p>
                </div>
                <div class="col-lg-4">
                    <p>I explore lots of interesting stuff since I am curious about everything. I will keep exploring everything I am interested in! Hopefully, I can update my gallery when I have new projects!</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
